{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do lists</title>
  <link href="{% static '/lists/bootstrap-5.2.3-dist/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
  <div class="container">

    <div class="row d-flex flex-row justify-content-center">
      <div class="col-md-6 col-md-offset-3">
        <div class="text-center bg-primary text-white p-5 rounded mb-4">
          <h1>{% block header_text %}{% endblock %}</h1>
          <form method="POST" action="{% block form_action %}{% endblock %}">
            <input name="item_text" id="new_item" placeholder="Enter a to-do item" class="form-control input-lg mt-4" />
            {% csrf_token %}
          </form>
        </div>
        {% block table %}
        {% endblock %}
      </div>
    </div>

  </div>
</body>

</html>